<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ employee?.name }} {{ employee?.surname }}</h5>
        <p class="card-text">Lytis: <b >{{ (employee?.gender=="male")?"Vyras":"Moteris" }}</b></p>
    </div>
    <div class="card-footer">
        <div class="float-start"> <span class="text-muted"> Atlikta darbų: <b>{{ employee?.completedworks }}</b></span></div>
        <button class="btn btn-success float-end btn-sm" (click)="employeeDetails(employee?.id)">Detaliau</button> 
    </div>
</div>