<div class="row mb-3">
    <div class="col-md-3 text-end">
        Filtruoti pagal lytį:
    </div>
    <div class="col-md-3">
        <select [(ngModel)]="filterGender" class="form-control" (change)="filter()">
            <option value="0">Visi</option>
            <option value="1">Vyrai</option>
            <option value="2">Moterys</option>
        </select>
    </div>
    <input
  type="checkbox"
  [(ngModel)]="pasirinktas" (change)="filter2()">
</div>
<div class="row">
   <table>
    <tr *ngFor="let employee of employeesDisplay">
        <td class="name">{{employee.name}}</td>
    </tr>
   </table>
</div>


